"*":
  "atom-beautify":
    general:
      _analyticsUserId: "533f03ac-4cb0-4d86-8c2f-d6fa50d98886"
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".flowconfig"
      ]
      "source.json": [
        ".arcconfig"
      ]
      "source.python": [
        "BUCK"
      ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db node_modules"
    ]
    projectHome: "/Users/pabloalonso/Code"
    themes: [
      "one-dark-ui"
      "an-old-hope-syntax"
    ]
  "custom-title":
    template: "<%= fileName %><% if (projectPath) { %> - <%= projectPath %><% if (gitHead) { %> [<%= gitHead %>]<% } %><% } %>"
  editor:
    invisibles: {}
    softWrap: true
    tabLength: 4
  "exception-reporting":
    userId: "103435f1-1803-3221-96c9-ce28aeab0831"
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  linter: {}
  nuclide:
    "nuclide-home":
      showHome: false
  racer: {}
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    syncHorizontalScroll: true
  "tool-bar": {}
  welcome:
    showOnStartup: false
